certifi==2024.8.30
chardet==5.2.0
click==8.1.7
Flask==3.0.3
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
PyJWT==2.9.0
pytz==2024.2
requests==2.32.3
six==1.16.0
twilio==9.3.3
urllib3==2.2.3
Werkzeug==3.0.4
