certifi==2024.7.4
chardet==5.2.0
click==8.1.7
Flask==3.0.3
gunicorn==22.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
PyJWT==2.8.0
pytz==2024.1
requests==2.32.3
six==1.16.0
twilio==9.2.3
urllib3==2.2.2
Werkzeug==3.0.3
