certifi==2025.7.14
chardet==5.2.0
click==8.2.1
Flask==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
PyJWT==2.10.1
pytz==2025.2
requests==2.32.4
six==1.17.0
twilio==9.7.0
urllib3==2.5.0
Werkzeug==3.1.3
