.navbar {
  border-radius: 0 !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-3 {
  margin-top: 15px !important;
}

#error {
  margin-top: 15px !important;
}