{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
        <div class="alert alert-secondary alert-dismissible fade show mb-3 mt-15" role="alert" id="disclaimer">
            <div class="d-flex align-items-center">
                <i class="fas fa-info-circle me-2"></i>
                <h4 class="mb-0">Important Notes</h4>
            </div>
            <ul class="mt-2">
                <li>This application is not related to nor supported or endorsed by Twilio Inc. in any way</li>
                <li>This application just provides a simple interface for Twilio's SMS service</li>
                <li>This application doesn't store your credentials in any form. Please check <a
                        href="https://www.twilio.com/docs/iam/access-tokens#creating-tokens" target="_blank">this page</a> for
                    instructions on how to create a token</li>
                <li>The <a href="https://rahb-realtors-association.github.io/sms-sender" target="_blank">documentation</a> and 
                        <a href="https://github.com/RAHB-REALTORS-Association/sms-sender" target="_blank">source code</a> 
                    for this application is available on GitHub</li>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <p>
            Welcome to the Bulk SMS Sender. This tool allows you to send bulk messages via Twilio's API from a simple CSV input
            file. Please see the <a href="{{ url_for('instructions') }}">instructions page</a> if this is your first
            time using the application.
            <div class="form-inline" id="upload_form">
                <form enctype="multipart/form-data" method="post">
                    <div class="mt-15">
                        <input aria-describedby="basic-addon1" class="form-control" name="sid" id="sid"
                            placeholder="{{ sid_placeholder or 'Twilio Account SID' }}" size="50" type="text" />
                    </div>
                    <div class="mt-15">
                        <input aria-describedby="basic-addon1" class="form-control" name="token" id="token"
                            placeholder="{{ token_placeholder or 'Twilio Token' }}" size="50" type="password" />
                    </div>
                    <div class="mt-15">
                        <input aria-describedby="basic-addon1" class="form-control" name="csv_url" id="csv_url"
                            placeholder="{{ csv_url_placeholder or 'CSV URL' }}" size="50" type="text" />
                    </div>
                    <div class="mb-3 mt-15 d-flex align-items-center justify-content-between">
                        <label for="file-upload" class="btn btn-primary btn-lg">
                            <input type="file" id="file-upload" name="file" class="d-none" />
                            Upload CSV
                            <span class="d-none" id="checkmark"><i class="fas fa-check-circle"></i></span>
                        </label>
                        <button type="submit" class="btn btn-primary btn-lg" id="sendBtn">
                            Send <i class="fas fa-paper-plane" id="sendIcon"></i>
                            <div class="spinner-border text-light d-none" role="status" id="spinner">
                            </div>
                        </button>
                    </div>
                </form>
            </div>
        </p>
        <script src="{{ url_for('static', filename='form.js') }}"></script>
{% endblock %}