{% extends 'base.html' %}

{% block title %}Instructions{% endblock %}

{% block content %}
        <h1>Instructions</h1>
        <div class="row mt-50">
            <div class="col-md-8">
                <h3 class="media-heading">Setting up the list of contacts and message</h3>
                Now we'll use a spreadsheet software (like Excel) to create a list of contacts and messages that we'll use to
                send the SMS. I've done this example using Google Sheets but any software will do (Excel, Numbers, LibreOffice,
                etc):
                <ol>
                    <li>Open your spreadsheet software and start by entering your Twilio phone number on the first cell (A1).
                    </li>
                    <li>In the next column (B1) you enter the destination phone number. Make sure to include country and area
                        code.</li>
                    <li>In the third column (C1) you enter the message you want to send.</li>
                </ol>
                That's it! You can copy and paste the message and Twilio phone number to all other rows if they are the same and
                just fill the B column with your destination phone numbers.
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('static', filename='tutorial_003.png') }}">
                    <img alt="Sample sheet" class="img-responsive" src="{{ url_for('static', filename='tutorial_003.png') }}"
                        style="margin:50px 0" />
                </a>
            </div>
        </div>
        <h3>Export the file and upload it</h3>
        <p>
            Now you just need to save your spreadsheet in the format this app can use and upload it. How to do that might differ
            a bit from app to app:
            <ul>
                <li><strong>Google Sheets:</strong> click on "File", "Download", "Comma-separated values (.csv, current sheet)</li>
                <li><strong>Excel:</strong> click on "File" and then in "Save as". On the "File Format" box select "Comma Separated
                    Values (.csv)"</li>
                <li><strong>Numbers for Mac:</strong> click on "File", "Export to", "CSV" and proceed to save the file</li>
                <li><strong>OpenOffice:</strong> click on "File", "Save as" and set "File type" as "Text CSV (.csv)"</li>
            </ul>
            Once you have you file ready go back to our <a href="{{ url_for('index') }}">home page</a> and use the form at the
            bottom to upload your file and Twilio credentials. That's it! If everything is alright we'll start sending your messages
            and once we are done we'll show you a full report, so please be patient!
        </p>
{% endblock %}