{% extends 'base.html' %}

{% block title %}Report{% endblock %}

{% block content %}
    <div class="alert alert-success">
        <strong>Messages sent!</strong>
        Your messages were succesfully sent. Please check status below
    </div>
    <div class="report">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Destination</th>
                    <th>Status</th>
                    <th>SID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in number_list %}
                    <tr>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}