{% extends 'base.html' %}

{% block title %}Wrong numbers{% endblock %}

{% block content %}
        <div class="alert alert-warning mb-3 mt-15" role="alert">
            <div class="d-flex align-items-center">
                <i class="fas fa-exclamation-circle me-2 pb-2"></i>
                <h4>Incorrect Numbers</h4>
            </div>
            <p>
                Some of the numbers on your list couldn't be found. Please check them to
                make sure they are in the correct format, with the Country Code, and try
                again.
            </p>
        </div>
        <div class="report mt-15">
            <ul class="mb-0">
                {% for number in number_list %}
                <li>{{ number[1] }}</li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}